<h1>New Employee</h1>

<div class="form-container">
    <p>
        <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput type="text" [(ngModel)]="firstName"/>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input matInput type="text" [(ngModel)]="lastName"/>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-label>Birth Date</mat-label>
            <input matInput [matDatepicker]="birthDatePicker" [(ngModel)]="birthDate"/>
            <mat-datepicker-toggle matSuffix [for]="birthDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #birthDatePicker></mat-datepicker>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-label>Hire Date</mat-label>
            <input matInput [matDatepicker]="hireDatePicker" [(ngModel)]="hireDate"/>
            <mat-datepicker-toggle matSuffix [for]="hireDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #hireDatePicker></mat-datepicker>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-label>Department</mat-label>
            <mat-select [(ngModel)]="departmentId">
                <mat-option *ngFor="let dept of departments" value="{{dept.id}}">{{dept.name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-label>Designation</mat-label>
            <mat-select [(ngModel)]="designationId">
                <mat-option *ngFor="let title of designations" value="{{title.id}}">{{title.title}}</mat-option>
            </mat-select>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-label>Salary</mat-label>
            <input matInput type="number" [(ngModel)]="salary"/>
        </mat-form-field>
    </p>
    <p>
        <button mat-raised-button color="primary" (click)="submit()">Submit</button>
    </p>
</div>

<!-- 
<mat-form-field appearance="fill">
    <mat-label>Input</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Select</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Textarea</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
   -->