
<mat-toolbar>
  <span>Emma</span>
  <span style="flex: 1 1 auto;" ></span>

  <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOutButton">
    <button mat-raised-button (click)="auth.logout({ returnTo: document.location.origin })">
      Log out
    </button>
  </ng-container>

  <ng-template #loggedOutButton>
    <button mat-raised-button color="primary" (click)="auth.loginWithRedirect()">Log in</button>
  </ng-template>
</mat-toolbar>

<div class="container">
  
  <router-outlet *ngIf="auth.isAuthenticated$ | async; else loggedOutMessage"></router-outlet>

  <ng-template #loggedOutMessage>
    <h1>Welcome! You must log in to view employees</h1>

    <button mat-raised-button color="primary" (click)="auth.loginWithRedirect()">Log in</button>
  </ng-template>
</div>
